services:
  redis:
    image: redis:7-alpine
    container_name: redis-cache
    ports:
      - "6379:6379"

  api:
    build:
      context: ..
      dockerfile: infra/DockerFile
    container_name: ml-api
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DEFAULT_VERSION=v1
      - LOAD_ALL_MODELS=True
      - CANARY_VERSION=v2
      - CANARY_PERCENT=10
