name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:7-alpine
        ports:
          - 6379:6379
        # options: >-
        #   --health-cmd='redis-cli ping'
        #   --health-interval=5s
        #   --health-timeout=3s
        #   --health-retries=20
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with: 
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Wait for Redis
        run: |
          for i in {1..30}; do
            (echo > /dev/tcp/127.0.0.1/6379) >/dev/null 2>&1 && echo "Redis is up" && exit 0
            echo "Waiting for Redis..."
            sleep 1
          done
          echo "Redis did not start in time"
          exit 1

      - name: Run tests
        env:
          # DEFAULT_MODEL_VERSION: 'v1'
          REDIS_HOST: 'localhost'
          REDIS_PORT: '6379'
          DEFAULT_VERSION: 'v1'
          LOAD_ALL_MODELS: 'false'
          CANARY_PERCENT: '0'
          CANARY_VERSION: 'v2'
        run: |
          pytest -q